@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

* {
    box-sizing: border-box;
}

html, body, section {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    font-family: 'Merriweather Sans', sans-serif;
}

#content-section {
    margin: 50px 0;
    padding: 30px 100px;
}

.footer {
    text-align: center;
    padding: 30px;
}

span[tooltip="true"][tooltip-position="top"]:hover::after, .img-link {
    padding: 15px;
    color: white;
    background-color: #373a3c;
    border-radius: 8px;
    font-size: 12px;
}

span[tooltip="true"] {
    position: relative;
}

span[tooltip="true"]:hover::after {
    content: attr(tooltip-data);
}

span[tooltip="true"][tooltip-position="top"]:hover::after {
    position: absolute;
    left: 0;
    bottom: 100%;
}

.img-section {
    position: relative;
}

.img-link {
    visibility: hidden;
    z-index: -1;
    opacity: 0;

    position: absolute;
    top: 40%;
    left: 10%;

    width: 80%;
    height: 20%;

    text-align: center;
}

.img-section:hover > .img-link {
    visibility: visible;
    z-index: 5;
    opacity: 1;
}